<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Agenda clase</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header class="headerAgenda">
            <div>
                <article class="fondo1"></article>
                
                <article class="fondo2"></article>
                
                <article class="imageninicio"><a href="index.html"> <img src="../../static/imagenes/inicio.png" alt="" height="150" width="150"/> </a> </article>
                
                <article class="imagenAgenda"> <img src="static/imagenes/Calendario de golf.png" alt="" height="250" width="250"/> </article>
                
                <article class="imagenLogoGolf"> <img src="../../static/imagenes/Logo de golfista .png" alt=""/> </article>
                
                <p class="texto">Agenda</p>
                
            </div>
        </header>
        
        <p>Agenda de clases de golf</p>
        
        <form action="action"></form>
        
        <input type="date" name="name">
        
    </body>
</html>
