<html>
    <head>
        <title>Historial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/EstiloHistorial.css" rel="stylesheet" type="text/css"/>
    </head>
    <body> 
        <header class="headerConsulta">
            <div>
                <article class="fondo1"></article>

                <article class="fondo2"></article>

                <article class="imageninicio"><a th:href="@{/}"> <img src="/imagenes/inicio.png" alt="" height="150" width="150"/> </a> </article>

                <article class="imagenAgenda"> <img src="/imagenes/Calendario de golf.png" alt="" height="350" width="350"/> </article>

                <article class="imagenLogoGolf"> <img src="/imagenes/Logo de golfista .png" alt="" height="350" width="350"/> </article>

                <p class="texto1">Historial de reserva</p>

<!--                <p class="texto">Agenda de resevación de clases</p>-->
                
                <p class="texto2"> Bienvenido a nuestra sección de clases de golf agendadas. 
                    Aquí podrás ver todas las clases programadas en nuestro campo de golf y estar al tanto de tus próximas sesiones. 
                    Desde aquí, podrás ver la fecha, hora, instructor y número de participantes para cada clase. 
                    Además, podrás confirmar tu asistencia y cancelar tu reserva en caso de ser necesario. 
                    Mantén tu calendario actualizado y no te pierdas ninguna de nuestras emocionantes clases de golf.</p>

            </div>
        </header>

        <div class="contenido">
            <br>
            <br>
            <div style="top: 900px; position: absolute; left:  32%" th:if="${lista != null and !lista.empty}">
                <table border="1">
                    <thead>
                    <th>Nombre</td>
                    <th>Apellidos</td>
                    <th>Correo</td>
                    <th>Telefono</td>
                    <th>Hora</td>
                    <th>Fecha</td>
                        </thead>
                    <tr th:each="item : ${lista}">
                        <td th:text="${item.nombre}"></td>                        
                        <td th:text="${item.apellidos}"></td>                        
                        <td th:text="${item.correo}"></td>                        
                        <td th:text="${item.telefono}"></td>
                        <td th:text="${item.hora}"></td>
                        <td th:text="${item.fecha}"></td>
                    </tr>
                </table>
            </div> 

            <div th:if="${lista == null or lista.empty}">
                No historial para mostrar!
            </div>
        </div>

        <footer>
            <p>+506-8837-5638 &copy; 2023 - Videos tutoriales - @ Email: carloscastillogolf@gmail.com </p>
        </footer>
    </body>
</html>  