.headerAgenda{
    position: absolute;
    width: 1920px;
    height: 627px;
    left: 1px;
    top: 0px;

    background: #37BE55;

}
.body{
    position: relative;
    width: 1920px;
    height: 2114px;

    background: rgba(0, 0, 0, 0.78);
}