.headerConsulta {
  position: relative;
  width: 100%;
  height: 627px;
  background: linear-gradient(to bottom, white, indigo);
  transition: background-color 0.3s ease-in-out;
}

.headerConsulta:hover {
  background: linear-gradient(to bottom, indigo, white);
}
.fondo1{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 760px;
    top: 64px;

    background: rgba(255, 255, 255, 0.62);
    border-radius: 100%;
}

.fondo2{
    position: absolute;
    width: 309px;
    height: 104px;
    left: 806px;
    top: 464px;

    background: rgba(255, 255, 255, 0.62);
    border-radius: 25px;
}
.imagenAgenda{
    position: absolute;
    width: 450px;
    height: 450px;
    left: 785px;
    top: 89px;

    border-radius: 175px;
}

.imagenLogoGolf{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 1457px;
    top: 89px;

    border-radius: 175px;
}
.texto{
    position: absolute;
    width: 998px;
    height: 82px;
    left: 35%;
    top: 700px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}

.texto1{
    position: absolute;
    width: 225px;
    height: 40px;
    left: 858px;
    top: 470px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
}

.texto2{
    position: absolute;
    width: 80%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 650px;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.5;

    color: indigo;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.imageninicio{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 230px;
    top: 35%;
    border-radius: 50%;
    border: 3px solid #ffffff;
}
.imageninicio:hover {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(1deg);
  }
}


footer {
    position: absolute;
    width: 1903px;
    height: 136px;
    left: 0px;
    top: 1976px;
    color:#fff ;
    text-align: center;
    
    background: #000000;
    }
    
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.styled-table th {
  background-color: #4285f4;
  color: white;
  font-weight: bold;
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid white;
}

.styled-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.styled-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
  background-color: #cc91fb;
}

