.headerConsulta{
    position: absolute;
    width: 1903px;
    height: 627px;
    left: 0px;
    top: 0px;
    background: indigo;
}
.fondo1{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 760px;
    top: 64px;

    background: rgba(255, 255, 255, 0.62);
    border-radius: 100%;
}

.fondo2{
    position: absolute;
    width: 309px;
    height: 104px;
    left: 806px;
    top: 464px;

    background: rgba(255, 255, 255, 0.62);
    border-radius: 25px;
}
.imagenAgenda{
    position: absolute;
    width: 450px;
    height: 450px;
    left: 785px;
    top: 89px;

    border-radius: 175px;
}

.imagenLogoGolf{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 1457px;
    top: 89px;

    border-radius: 175px;
}
.texto{
    position: absolute;
    width: 998px;
    height: 82px;
    left: 35%;
    top: 700px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}

.texto1{
    position: absolute;
    width: 225px;
    height: 40px;
    left: 858px;
    top: 470px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
}

.texto2{
    position: absolute;
    width: 80%;
    height: 40px;
    left: 300px;
    top: 600px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: indigo;
}

.imageninicio{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 192px;
    top: 243px;

}


footer {
    position: absolute;
    width: 1903px;
    height: 136px;
    left: 0px;
    top: 1976px;
    color:#fff ;
    text-align: center;
    
    background: #000000;
    }