.headergaleria {
    position: absolute;
    width: 1903px;
    height: 627px;
    left: 0px;
    top: 0px;
    background: #F5B550;

}

.imagen3 {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 787px;
    top: 90px;

    border-radius: 175px;
}

.imagenlogogolf {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 1469px;
    top: 27%;

    border-radius: 175px;
}

.imageninicio{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 230px;
    top: 35%;

    border-radius: 175px;
}

.videos{
    position: relative;
    width: 1885px;
    height: 1350px;
    left: 0;
    top: 630px;

    background: rgba(0, 0, 0, 0.62);
}

.footer {
    position: absolute;
    width: 1903px;
    height: 136px;
    left: 1px;
    top: 1978px;
    background-color:  #EBEBEB;

}


.fondo1{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 760px;
    top: 64px;
    border-radius: 100%;

    background: rgba(255, 255, 255, 0.62);
}

.fondo2{
    position: absolute;
    width: 309px;
    height: 104px;
    left: 806px;
    top: 464px;

    background: rgba(255, 255, 255, 0.62);
    border-radius: 25px;
}

.texto{
    position: absolute;
    width: 178px;
    height: 24px;
    left: 885px;
    top: 485px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.articulo1{
    position: absolute;
    top: 3%;
    left: 7%;
}

.articulo2{
    position: absolute;
    top: 3%;
    left: 60%;
    border: 5px solid #f7f7f7;
}

.articulo3{
    position: absolute;
    top: 40%;
    left: 7%;
    border: 5px solid #f7f7f7;
}

.articulo4{
    position: absolute;
    top: 40%;
    left: 60%;
    margin: 0 !important;
    padding: 25px;
    border: 5px solid #f7f7f7;
}
.articulo5{
    position: absolute;
    top: 70%;
    left: 60%;
    margin: 0 !important;
    padding: 25px;
    margin: 0 !important;
    padding: 25px;
    border: 5px solid #f7f7f7;
}
.articulo6{
    position: absolute;
    top: 70%;
    left: 7%;
    margin: 0 !important;
    padding: 25px;
    border: 5px solid #f7f7f7;
}


footer {
    position: absolute;
    width: 1903px;
    height: 136px;
    left: 0px;
    top: 1976px;
    color:#fff ;
    text-align: center;

    background: #000000;
}

.galeria{
    background-color: #363636;
    width: 1904px;
    top: 620px;
    height: 1350px;
    position:relative;

}
#galeriacol-lg-4{
    margin: 0 !important;
    padding: 25px;
}
#galeriaimg{
    width:100%;
    heigth:250px;
}
#galeriaimg:hover{
    border: 5px solid #f7f7f7;
}

 .desc1 {
        color:whitesmoke;
    }