.headervideo {
    position: relative;
    width: 100%;
    height: 627px;
    background: linear-gradient(to bottom, white, #F5B550);
    transition: background-color 0.3s ease-in-out;

}
.headervideo:hover {
  background: linear-gradient(to bottom, #F5B550, white);
}

.imagen3 {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 787px;
    top: 90px;
    border-radius: 50%;
}

.imagenlogogolf {
        position: absolute;
    width: 350px;
    height: 350px;
    left: 1457px;
    top: 89px;

    border-radius: 175px;
}

.imageninicio{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 230px;
    top: 35%;
    border-radius: 50%;
    border: 3px solid #ffffff;
}
.imageninicio:hover {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

.videos{
    position: relative;
    width: 100%;
    max-width: 1885px;
    height: 1350px;
    margin-top: 100px;
    background-size: cover;
    background-position: center;
}


footer {
    position: absolute;
    width: 1903px;
    height: 136px;
    left: 0px;
    top: 1976px;
    color:#fff ;
    text-align: center;
    
    background: #000000;
    }

.fondo1{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 760px;
    top: 64px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.62);
    transform: rotate(-20deg);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.fondo2{
    position: absolute;
    width: 309px;
    height: 104px;
    left: 806px;
    top: 464px;
    background: rgba(255, 255, 255, 0.62);
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.texto{
    position: absolute;
    width: 178px;
    height: 24px;
    left: 885px;
    top: 485px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.articulo1 {
  position: absolute;
  top: 5%;
  left: 7%;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.articulo2 {
  position: absolute;
  top: 5%;
  left: 60%;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.articulo3 {
  position: absolute;
  top: 60%;
  left: 7%;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.articulo4 {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.articulo1:hover,
.articulo2:hover,
.articulo3:hover,
.articulo4:hover {
  transform: scale(1.3);
}



.desc1 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}