<!DOCTYPE html>
<html xmlns:th"http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Valle del Sol</title>
        <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <div >
                <img class="celu" src="imagenes/Logo de celular.png" alt="">
                <p class="tel" style="color: white;">8837-5638</p>
                <img class="arroba" src="imagenes/logo de @.png" alt="">
                <p class="correo" style="color: white;">carloscastillogolf@gmail.com</p>
                <article class="boton1"></article>
<!--                <article class="boton2"></article>-->
                <nav class="nav_inicio">
                    <p><a href="inicio"></a>Iniciar sesion</p>
                </nav>
<!--                <nav class="nav_registro">
                    <p><a href="Registro"></a>Registrarse</p>
                </nav>-->
            </div>
        </header>
        <div class="menu">
            <ul class="lista">

                <li class="fondo1"></li>
                <li class="imagen1"><a th:href="@{/agenda/nuevo}"> <img src="imagenes/Calendario de golf.PNG" alt=""> </a></li>
                <li class="rectangulo1"></li>
                <li class="descrip1">Agenda de clases</li>

                <li class="fondo2"></li>
                <li class="imagen2"> <a th:href="@{/historial}"> <img src="imagenes/32284 1.png" alt=""> </a> </li>
                <li class="rectangulo2"></li>
                <li class="descrip2">Historial de Clases</li>

                <li class="fondo3"></li>
                <li class="imagen3"> <a th:href="@{/videos/nuevo}"> <img src="imagenes/Tutoria.png" alt=""> </a> </li>
                <li class="rectangulo3"></li>
                <li class="descrip3">Videos tutoriales</li>

                <li class="fondo4"></li>
                <li class="imagen4"> <a th:href="@{/galeria/fotos}"> <img src="imagenes/IMG.png" alt=""> </a> </li>
                <li class="rectangulo4"></li>
                <li class="descrip4">Galeria Campo de golf</li>

            </ul>
        </div>
        <div class="info">

            <article class="img-valle"><img src="imagenes/imagen de valle.jpeg" alt="" height="700px"></article>

            <p class="info-parrafo">¡Bienvenidos a nuestra página web de golf en línea! Estamos emocionados de ofrecerles una experiencia única y emocionante para los amantes del golf de todo el mundo.<br></br> 

                Ya sea que esté buscando mejorar su técnica, disfrutar de una partida con amigos o simplemente relajarse y disfrutar del paisaje, nuestro campo de golf ubicado en Santa Ana tiene algo para todos. <br></br> 

                Nuestros campos de golf están diseñados para desafiar a golfistas de todos los niveles y habilidades, así que asegúrese de traer su mejor juego. Esperamos verte en la cancha. ¡Que tengas un gran juego!<br></br> </p>
        </div>
        <div class="menu2">

            <article class="img-instructor"><img src="imagenes/FB_IMG_1676755195269.jpg" alt=""></article>

            <p class="info-instructor">Carlos Alberto Castillo Arguedas<br></br>

                Soy un profesor/instructor de golf, en el campo de golf 
                Valle del Sol, ubicado en Lindora San Jose.<br></br>

                Tengo 41 años de dedicarme en este deporte, empece
                desde los 11 años como caddie en los reyes y con el 
                paso de los años fui adquiriendo conocimientod en los 
                diferentes puestos relacionados con la operacion de un
                campo de golf hasta llegar a dedicarme exclusivamente 
                a la enseñansa del golf.<br></br>

                Actualemente tengo 20 años de dedicarme a impartir 
                lecciones en el campo de Valle del Sol.</p>
        </div>
        <div class="pie">
            <p class="visita">Visitanos</p>

            <p class="linea1"></p>

            <ul class="direccion">
                <li class="iframe"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7859.6455505518625!2d-84.21201815!3d9.948699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f93126a19fc5%3A0x8082c001f4c83728!2sValle%20del%20Sol%2C%20San%20Jos%C3%A9%2C%20Pozos!5e0!3m2!1ses!2scr!4v1678658481934!5m2!1ses!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></li>
            </ul>

            <article class="fondo-logo"></article>

            <article class="logo-de-pagina"><img src="imagenes/Logo de golfista .png" alt=""></article>

            <p class="contacto">Contactenos</p>

            <p class="numero">506+ 88375683</p>

            <p class="derechos">&COPY; Instructor de golf - Derechos Reservados 2023</p>

            <p class="enlaces">Enlaces</p>

            <p class="linea2"></p>

          
            <a class="enlace1" href="https://www.facebook.com/carlosalberto.castilloarguedas"> <p>https://www.facebook.com/carlosalberto.castilloarguedas</p></a>
        </div>
    </body>

</html> 